<div>
                <h1>View Appointments</h1>
                     <!-- <table>
                    <thead>
                        <tr>
                            <th>Sl NO</th>
                            <th>Name</th>
                            <th>age</th>
                            <th>Phone</th>                            
                            <th>Address</th>
                             <th>City</th>
                            <th>Trainer Preference</th>
                            <th>Physio Required</th>
                            <th>Package</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ap of data">
                            <td>{{ap.id}}</td>
                            <td>{{ap.firstname}}</td>
                            <td>{{ap.lastname}}</td>
                            <td>{{ap.age}}</td>
                            <td>{{ap.phonenumber}}</td>
                            <td>{{ap.email}}</td>
                            <td>{{ap.streetaddress}}
                            <td>{{ap.city}}</td>
                            <td>{{ap.state}}</td>
                             <td>{{ap.pincode}}</td></td>
                            <td>{{ap.trainerpreference}}</td>
                             <td>{{ap.physiotherapist}}</td>
                              <td>{{ap.packages}}</td>
                              <td>{{ap.inr}}</td>
                               <td>{{ap.paisa}}</td>
                              
                           
                        </tr>
                    </tbody>
                </table> -->
            </div>

    